<h1>Guides</h1>

<div class="row">
  <% @guides.each do |guide| %>
    <div class="col-md-3">
      <div class="thumbnail">
            <a href="/guides/<%= guide.id %>">
                    <div class="image-photo" style="background-image: url('<%= guide.image.url %>'); width: 150px; background-size: 100%; height: 150px;">
                    </div>
            </a>
        <div class="caption">
          <h3><%= guide.description %></h3>
          <p><%= guide.course %></p>
          <%= link_to 'Show', guide, class: "btn btn-link" %>
          <%= link_to 'Edit', edit_guide_path(guide), class: "btn btn-link" %>
          <%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Guide', new_guide_path %>
