<p id="notice"><%= notice %></p>

 	<div class="thumbnail"> 
      <a href="/guides/<%= @guide.id %>">
        <div class="image-photo" style="background-image: url('<%= @guide.image.url %>'); width: 150px; background-size: 100%; height: 150px;">
        </div>
      </a>
 	</div>
<p>
  <strong>Description:</strong>
  <%= @guide.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @guide.course %>
</p>



<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
